_extensions/*
.~lock.*
/.continue/
.vscode/*
**/*.quarto_ipynb
/cahier des charges/pnpm-lock.yaml
**/.pnpm-store/
**/pnpm-lock.yaml
/.quarto/
*/.figma/
*/node_modules/
*/.pnpm/
*/.cache/
*/dist/
**/pnpm-lock.yaml
opencode.json
.env
/cahier des charges/archive_backlog/
/cahier des charges/annexes/serveur-graphe/node_modules/
*.pyc
cahier des charges/__pycache__/
/cahier des charges/dyn_counts.txt
.opencode/*
.continue/*