_extensions/*
.~lock.*
/.continue/
.vscode/*
**/*.quarto_ipynb
/cahier des charges/pnpm-lock.yaml
**/.pnpm-store/
**/pnpm-lock.yaml
/.quarto/
*/.figma/
*/node_modules/
*/.pnpm/
*/.cache/
*/dist/
**/pnpm-lock.yaml
opencode.json
